<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="info" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="com.yj.core.log.FilterMessagePatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="trace" class="com.yj.core.log.TraceAppender">
        <layout class="com.yj.core.log.FilterMessagePatternLayout">
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="action" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.yj.core.log.FilterMessagePatternLayoutEncoder">
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <logger name="com.yj.core.log.ActionLogger" additivity="false" level="INFO">
        <appender-ref ref="action"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>

    <root level="debug">
        <appender-ref ref="info"/>
        <appender-ref ref="trace"/>
    </root>
</configuration>